.profileContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:center;
    gap: 1rem; 
}

.profile{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:left;

    width: 30rem;
    max-width: 80vw;
    background-color: #2E3840;
    color: white;
    border-radius: 10px;
    padding: 2rem;
    box-sizing:border-box;
}


.profileImage{
    border-radius: 100vw;
    height: 7rem;
    width: 7rem;
    align-self: center;
    cursor: pointer;
}

.profileImageLabelContainer{
    align-self: center;
}

.infoText{
    font-weight: bold;
    font-size: clamp(18px,calc(1.125rem + ((1vw - 7.68px) * 0.5208)),24px);
}

