.formContainer button, input,textarea {
	color: inherit;
	border: none;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    resize: none;
}

.form{
    font-family:roboto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items:left;

    width: 30rem;
    max-width: 80vw;
    background-color: #2E3840;
    border-radius: 10px;
    padding: 2rem;
    box-sizing:border-box;
    color: white;

}

.form input, .form textarea{
    background-color: rgb(255, 255, 255);
    color: black;
    border-radius: 5px;
    cursor: text;
    padding: 1%;
}

.form label{
    text-align: left;
}

.profileImage{
    border-radius: 100vw;
    height: 7rem;
    width: 7rem;
    align-self: center;
    cursor: pointer;
}

.imageLabel{
    align-self: center;
}

.imageInput{
    display: none;
}

.createButton{
    background-color: #10a37f;
    cursor: pointer;
    width: 70%;
    height: fit-content;
    margin: 3%;
    align-self: center;
    border-radius: 7px;
}
.createButton:hover{
    background-color: #0e8c6c;
    transition: .3s;
}

.errorMessage{
    color: red;
    align-self: center;
}
