.app{
  font-family: roboto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  
  padding: 2% 0;

  
  /* background: url('./Assets/Images/texture.png') repeat; */
}

@font-face {
    font-family: "Roboto";   /*Can be any text*/
    src: local("RobotoMono-Regular"),
      url("./Assets/Fonts/RobotoMono-Regular.ttf") format("truetype");
  }
